# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/

# OS
.DS_Store
Thumbs.db

# Models / artifacts
models/*.pkl
models/*.joblib


# Raw dataset (keep out of git)
data/raw/
